<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %method - %msg%n</Pattern>
    </encoder>
  </appender>
  

  
  <logger name="org.apache.directmemory.serialization" level="warn">
    <appender-ref ref="STDOUT" />

  </logger>

  <logger name="org.apache.directmemory.measures" level="info">
    <appender-ref ref="STDOUT" />

  </logger>

  <logger name="org.apache.directmemory.memory" level="info">
    <appender-ref ref="STDOUT" />

  </logger>

  <logger name="org.apache.directmemory.cache" level="info">
    <appender-ref ref="STDOUT" />

  </logger>

</configuration>